{% extends "index.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block main %}
    <main class="log-in">
        <h1>Admin Login</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=error_message>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form  class="log-in-box" method="post" action={{url_for('adminLogin_page.adminLogin')}}>
            <input name="email" type="text" placeholder="Email">
            <input name="password" type="password" placeholder="Password">
            <button type="submit"> Log in </button>
            <p> log in as a user <a href="login">here</a> </p>
        </form>
    </main>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}