{% extends "index.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block main %}
<main class="container">
        
    <div class="log-in">
        <h1> View users </h1>
        <a href="adminDashboard"><button type="submit" class="button"> Go back to dashboard </button></a>
    </div>
    <div class="add-buttons">
        <a href="#"><button class="button">Add User</button></a>
    </div>  
    <table>
        <tr>
            <th>User email</th>
            <th>User name</th>
            <th class="end-class">Edit user</th>
        </tr>
        {% for all_user in all_users %}
            <tr>
                <td>{{all_user['email']}}</td> 
                <td>{{all_user['fname']}} {{all_user['lname']}}</td>
                <td class="end-class"><a><i class="far fa-edit"></i></a></td>
            </tr>
        {% endfor %}
    </table>
    
</main>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}