{% extends "index.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block main %}
    <main>
        <div class="sign-up-container">
            <h1> My Account </h1>
            {% for category, message in get_flashed_messages(with_categories=True) %}
                <div class="alert-{{category}}">{{ message }}</div>
            {% endfor %}
            <form class="sign-up-box" method="post" action={{url_for('userChangeAccount_page.userChangeAccount')}}>
                <div class="names-wrapper">
                    <input name="fname" type="text" placeholder="First name">
                    <input name="lname" type="text" placeholder="Last name">
                    <input name="email" type="text" placeholder="Email">
                </div>
                <button type="submit"> Update your details </button>
            </form>
        </div>
    </main>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}