{% extends "index.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block main %}

<main class="container">
    <div class="log-in">
        <h1> Admin Dashboard </h1>
    </div>
    <div class="admin-container">
        <div class="admin-container-second">
            <div class="admin-item">
                <a href="viewUsers"><h3>View Users</h3></a>
            </div>
            <div class="admin-item">
                <a href="adminRegister"><h3>Register a new admin account</h3></a>
            </div>
            <div class="admin-item">
                <a href="viewUsersOrders"><h3>View all orders</h3></a>
            </div>
        </div>
        <div class="admin-container-second">
            <div class="admin-item">
                <a href="viewProducts"><h3>View Products</h3></a>
            </div>
            <div class="admin-item">
                <a href="adminAccount"><h3>Your admin account</h3></a>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}